#item-container {
    border: solid rgb(116, 115, 115) 8px;
    margin-top: 100px !important;
    height: 380px;
    width: 1000px;
    margin: 0 auto;
    border-radius: 25px;
    background-color: #d9d9d9;
}

#itemHead {
    margin-left: 30px;
}

#itemDesc {
    line-height: 30px;
}

#lightbox {
    border-radius: 25px;
}

#itemMedia {
    border: grey solid 2px; 
    background-color: grey;
    margin-top: 25px;
    margin-left: 20px;
    padding: 5px;
    width: 100%;
}

#itemArtist {
    font-size: 40px;
}

#infoBox {
    margin-left: 30px;
    width: 500px;
    font-size: 20px;
}

#infoDiv {
    padding-top: 10px;
}